h1
{
	color:rgb(247, 10, 176); 
	font-size: 50px;
}
.body_backgorund {
background-image: url("bg1.jpg");
background-position: center;
background-size: cover;
}

#myCanvas{
border-width: 15px;
background-color: white;
border-style: ridge;
}